<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.myel.sherwin.scrim.libbrowser">
    <application>
<activity
android:name = "com.recipient.gustave.caracas.ZigzagScoundrelActivity"
android:exported="false"
android:label="@string/florid_neurology_montgomery_backgammon"
android:configChanges="screenLayout|layoutDirection"
android:launchMode="singleTop"
/>

    </application>
</manifest>
